* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.manage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 2% auto;
  justify-content: space-around;
}

.login-header {
  background-color: #5b6574;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
  border-radius: 20px;
  padding: 20px;
  /* border: 1px solid black; */
}

.form > div {
  width: 400px;
}

.submitButton {
  width: 250px;
}

.login-header span {
  color: rgb(250, 195, 76);
}

.signOut-button {
  text-decoration: none;
}

.manage form {
  flex-direction: column;
}

.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5b6574;
  height: 8vh;
  width: 100%;
  color: white;
}

.displayContainer {
  width: 35%;
}

.user-table {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  padding: 10px;
}

.user-table td {
  padding: 10px;
  text-align: center;
}

.user-table th {
  border: 1px solid black;
  width: 30%;
}

.signOut {
  background-color: grey;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100px;
  cursor: pointer;
}

.menuIcon span {
  width: 50px;
  height: 5px;
  background-color: white;
}

.menu {
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.actions_menu {
  display: flex;
  width: 20%;
  height: 100px;
  flex-direction: column;
}
